# DB
DB_PATH=./data/tx_exporter.sqlite

# Flare RPC
FLR_MAINNET_SCAN=https://rpc.ankr.com/flare
FLR_MAINNET_SCAN_BLOCKS=1000
FLR_MAINNET_SCAN_PAUSE_MS=250
SCAN_OVERLAP_BLOCKS=50

# Address to track
TRACK_ADDRESS=you_wallet_address

########################################
# Logging
########################################

# Logging verbosity:
# 0 = errors only
# 1 = warnings + errors
# 2 = info + warnings + errors
# 3 = debug + info + warnings + errors
DEBUG=3
SCAN_DEBUG=3
# Disable colors (CI, log files)
# NO_COLOR=1
# Force colors (Docker / piped output)
# FORCE_COLOR=1